@page "/set-password"

<h3>SetPassword</h3>

<div class="col-lg-12 text-center">
    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="alert @StatusClass">@Message</div>
    }
    <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label class="col-sm-3">Enter password: </label>
            <InputText type="password" class="form-control col-sm-8" @bind-Value=@Model.Password></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Model.Password)" />
        </div>
        <button type="submit" class="btn btn-primary edit-btn">Submit</button>
    </EditForm>
</div>
