<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="hero-h1">Willkommen im digitalen Netz</h1>
                <p class="hero-h2">Das Portal für die neue Generation moderner Arbeitsplätze</p>
                <a class="btn btn-sm btn-outline-primary hero-btn" href="/login">Login</a>

            </div>
        </div>
    </div>
</header>